---
import Layout from '../layouts/Layout.astro'
import App from '../components/App'
---

<Layout title='Color Scale Generator'>
	<main
		class='mx-auto p-4 md:p-8 bg-zinc-100 rounded-b-md shadow-sm container'
	>
		<h1 class='text-4xl mb-4 tracking-tight uppercase'>
			Color Scale Generator
		</h1>
		<App client:load />
	</main>
</Layout>
