---
import Layout from '../layouts/Layout.astro'
import SiteNav from '../components/SiteNav.astro'
import SiteFooter from '../components/SiteFooter.astro'
import App from '../components/App'
---

<Layout title='Color Scale Generator | MYOL Creative'>
	<SiteNav active='color' />
	<main class='mx-auto p-s bg-cream-100 rounded-b-md shadow-xs container'>
		<App client:load />
	</main>
	<SiteFooter />
</Layout>
