---
import Layout from '../layouts/Layout.astro'
import SiteNav from '../components/SiteNav.astro'
import SiteFooter from '../components/SiteFooter.astro'
import DesignSystemApp from '../components/DesignSystemApp'
---

<Layout title='Design System Foundations | MYOL Creative'>
	<SiteNav />
	<main class='mx-auto p-s bg-cream-100 rounded-md shadow-xs container'>
		<DesignSystemApp client:load />
	</main>
	<SiteFooter />
</Layout>
