---
import Layout from '../layouts/Layout.astro'
import ColorInput from '../components/ColorInput.astro'
import ColorScale from '../components/ColorScale.astro'
---

<Layout title='Color Scale Generator'>
	<main class='container mx-auto p-6 md:p-12 lg:p-24 bg-slate-100'>
		<h1 class='text-3xl font-bold mb-4'>Color Scale Generator</h1>
		<ColorInput />
		<ColorScale />
	</main>
</Layout>
