---
const defaultColor = '#3b82f6'
---

<div class='mb-8'>
	<label for='colorInput' class='block mb-2 text-lg'
		>Select or enter a color below:</label
	>
	<div class='flex items-center space-x-2'>
		<div
			class='rounded-full overflow-hidden border-2 border-slate-600 w-10 h-10 relative'
		>
			<input
				type='color'
				id='colorInput'
				class='h-16 w-16 cursor-pointer absolute origin-center left-[-10px] top-[-10px]'
				value={defaultColor}
			/>
		</div>
		<input
			type='text'
			id='hexInput'
			class='h-10 px-2 rounded border-2 border-slate-600'
			placeholder='Enter hex code'
			value={defaultColor}
		/>
	</div>
</div>

<script>
	const colorInput = document.getElementById('colorInput') as HTMLInputElement
	const hexInput = document.getElementById('hexInput') as HTMLInputElement
	const root = document.documentElement

	function updateColor(color: string) {
		if (/^#[0-9A-Fa-f]{6}$/.test(color)) {
			root.style.setProperty('--base-color', color)
			colorInput.value = color
			hexInput.value = color
		} else {
			// console.error('Invalid hex code:', color)
		}
	}

	colorInput.addEventListener('input', (e) => {
		const color = (e.target as HTMLInputElement).value
		updateColor(color)
	})

	hexInput.addEventListener('input', (e) => {
		let color = (e.target as HTMLInputElement).value
		if (!color.startsWith('#')) {
			color = '#' + color
		}
		updateColor(color)
	})

	// Set initial color
	updateColor(colorInput.value)
</script>
