---
// Shared footer across the tool pages.
---

<footer class='mx-auto p-s bg-cream-100 rounded-t-md shadow-xs container mt-m'>
	<div class='flex gap-2xs align-middle'>
		<p>&#128151; Created by</p><a
			href='https://sam-almohanna.com'
			target='_blank'
			rel='noopener noreferrer'
			aria-label='sams website.'
			class='font-roboto-condensed font-bold uppercase'
			>Sam Almohanna</a
		>
	</div>
</footer>
